<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Revsoft.Wabbitemu">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hasCode="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:largeHeap="true" >

        <activity
            android:name="com.Revsoft.Wabbitemu.activity.WabbitemuActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.Revsoft.Wabbitemu.activity.BrowseActivity"
            android:configChanges="orientation|screenSize" />
        <!-- Cannot use hardware acceleration here, if we do the color picker cannot compose the layers -->
        <activity android:name="com.Revsoft.Wabbitemu.activity.SettingsActivity" 
            android:configChanges="orientation|screenSize" android:hardwareAccelerated="false" />
        <activity android:name="com.Revsoft.Wabbitemu.activity.AboutActivity" 
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name="com.Revsoft.Wabbitemu.activity.WizardActivity"
            android:configChanges="orientation|screenSize" />
         <activity
             android:name="com.google.android.gms.ads.AdActivity"
             android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b3f7a3e9aaaeae9c117b7965a51f6841108983c3" />
    </application>

</manifest>